h1 {
  border: 5px solid;
  border-radius: 25px;
  color: white;
  text-align: center;
}
img {
  border: 5px solid;
  border-radius: 25px;
  background-color: white;
}
body {
  background-color: orange
}
